form.grid-gridForm {
	padding: 0;
	border: 0;
}

.grid .grid-row-even:hover td, .grid .grid-row-odd:hover td {
	background-color: #dedede;
}

.grid .grid-row-odd {
	background-color: #f9f9f9;
}

.grid .grid-upper-info {
	line-height: 30px;
	height: 30px;
}

.grid .grid-current-link{
    background: url("../images/link.png") no-repeat 9px 7px;
    width:20px;
    height:30px;
    display:inline-block;
    float:right;
	border-left: 1px solid #555;
	margin-left: 6px;
	padding-left: 6px;
}

.grid .grid-results{
	float: left;
	margin: 0;
	padding: 0;
 }

.grid .grid-order{
    display: inline-block;
    width: 10px;
    height: 15px;
    margin-top: 2px;
    position: absolute;
    margin-left: 5px;
}

.grid .grid-head-column-content {
	margin-left: 20px;
}

.grid .grid-order .grid-order-up{
    background: url("../images/triangle-up.png") no-repeat;
    width: 10px;
    height: 7px;
    display: block;
}

.grid .grid-order .grid-order-down{
    background: url("../images/triangle-down.png") no-repeat;
    width: 10px;
    height: 7px;
    display: block;
    margin-top: 1px;
}

.grid .grid-order .grid-order-active-up{
    background: url("../images/triangle-up-red.png") no-repeat;
}

.grid .grid-order .grid-order-active-down{
    background: url("../images/triangle-down-red.png") no-repeat;
}

.grid .grid-head-column-actions {
	width: 100px;
}

.grid .grid-bottom{
    background:#e8e8e8;
}

.grid .grid-perPage label{
	float: left;
	color: black;
    font-size: 14px;
	font-weight: bold;
	color: #555;
    line-height: 30px;
	margin-bottom: 0;
    margin-right: 10px;
}

.grid .grid-perPage select{
    float: left;
    width: 75px;
    height: 26px;
    margin-top: 2px;
	margin-bottom: 0;
    border: 1px solid #ccc;
}

.grid .grid-perPage input[type="submit"]{
    height: 26px;
    width: 30px;
    padding-bottom: 2px;
    margin-top: 2px;
    margin-left:5px;
}

.grid .grid-paginator .active > span {
	color: black;
}

.grid .grid-paginator .disabled > span {
	background-color: white;
}

.grid .grid-filter-form{
    background-color:#e5e5e5;
}

.grid .grid-filter-form-active{
    background-color: #2fa4e7;
}

.grid .grid-filter-form input[type="text"]{
    width:100%;
    color:#000;
    background-color:#FFF;
	border: 1px solid #ccc;
    padding: 1px;
	margin: -1px;
    font-size:12px;
}

.grid .grid-filter-form select{
    width:100%;
    border: 1px solid #ccc;
    height:24px;
	margin: 0;
    font-size:12px;
}

.grid .grid-filter-form input[type="submit"]{
    height:24px;
    width:70px;
    margin-right:1px;
	float: left;
}

.grid .grid-filter-reset, .grid .grid-rowForm-cancel{
    width:7px;
    height:16px;
    background: url('../images/cancel_white.png') no-repeat #0078ff 3px;
    display:block;
    margin-left:75px;
}

.grid .grid-filter-reset:hover, .grid .grid-rowForm-cancel:hover {
	background-position: 3px;
}

.grid .grid-datepicker{
    background: url("../images/calendar.png") no-repeat 99% center;
}

.grid .grid-panel td, .grid-panel th{
    border:0px solid #F0F;
    padding:0;
    margin:0;
}

.grid .grid-button{
    min-width: 24px;
    min-height: 22px;
    display: block;
    float: left;
}

.ui-autocomplete{
    padding:0;
	border: 1px solid #ddd;
	background: #f5f5f5;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.ui-menu-item{
    text-align:left;
    list-style:none;
    font-size:14px;
}

.ui-menu-item a {
	padding: 2px 10px;
	display: block;
}

.ui-menu-item:hover a, .ui-state-hover {
	background-color: #dedede;
}

.grid input[type="text"].grid-editable{
    padding:0px;
    height:25px;
    width:100%;
    background-color:#FFF;
    border: 1px solid #ccc;
    font-size:14px;
}

.grid input[type="submit"].grid-editable{
    height: 24px;
    width: 70px;
	float: left;
}

.grid select.grid-editable{
    width:100%;
    height:25px;
    border: 1px solid #ccc;
    font-size:14px;
}

.grid .grid-edited-cell{
    background-color: #e5e5e5;
}

.grid .grid-subgrid-open{
    background: url('../images/subgrid_open.png') no-repeat 4px;
}
.grid .grid-subgrid-close{
    background: url('../images/subgrid_close.png') no-repeat 4px;
}

.grid .grid-add-row{
    background: url('../images/add.png') no-repeat 4px;
}

.grid-flash{
    height: 30px;
    text-align:left;
}

.grid-flash span{
    padding-top: 4px;
    padding-left: 20px;
    font-weight:normal;
}

.grid-flash-hide{
    float: right;
    margin-right: 20px;
    cursor: pointer;
    background: url("../images/cross.png") no-repeat;
    width: 22px;
    height: 22px;
    display: block;
}

.grid .inline-edit {
	 background: url('../images/table_edit.png') no-repeat 4px;
}